@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lora", serif; /* Apply Lora to the body */
    background: #B3BCBB;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center the items horizontally */
    justify-content: flex-start; /* Start from the top */
    min-height: 100vh; /* Ensure body takes full height */
    padding: 20px; /* Optional: adds some space around the content */
}

/* Text Styling */
p {
    font-family: "Roboto Condensed", sans-serif; /* Apply Roboto Condensed to paragraphs */
    color:  #3B4443;
}

/* Transition */
a {
    transition: all 300ms ease;
}
/* General Styling for the Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between; /* Space between the heading and the links */
    align-items: center; /* Vertically center the content */
    background: #F9EBEA;
    padding: 10px 20px;
    height: 8vh;
    position: sticky;
    top: 0%; /* Keeps the nav fixed to the top */
    z-index: 100; /* Keeps the nav on top */
    width: 100%; /* Ensures the nav spans the full width */
}
.nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid rgba(112, 101, 69, 1);
    left: 40%; /* Adjust to control the starting position */
    width: 20%; /* Adjust to control the width of the line */
    height: 0px; /* Thickness of the line */
    background-color: rgba(112, 101, 69, 1); /* Line color */
}
.nav h1 {
    font-size: 36px;
    color: rgba(112, 101, 69, 1);
    margin: 0;
    padding-right: 100px;
    font-weight: bolder;
}
.nav a{
    color: rgba(112, 101, 69, 1);
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: flex-start; /* Align links to the left */
    flex-wrap: wrap; /* Ensure links wrap if there's not enough space */
}

.nav-links li {
    display: inline-block;
    font-family: "Lora", serif; /* Apply Lora to the body */

}

.nav-links a {
    text-decoration: none;
    color: rgba(112, 101, 69, 1);
    font-size: 26px;
    font-weight: bold;
    transition: color 0.3s ease;

}

.nav-links a:hover {
    color: rgba(112, 101, 69, 1);
    text-decoration: underline;
}


.sticky-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #706545; /* Green background */
    color:  #F9EBEA;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Ensure it appears on top */
    transition: transform 0.3s, background-color 0.3s;
}

.sticky-button:hover {
    transform: scale(1.1); /* Slightly increase size */
}
.sticky-button-bis{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #706545; /* Green background */
    color:  #F9EBEA;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Ensure it appears on top */
    transition: transform 0.3s, background-color 0.3s;
}
.sticky-button-bis:hover {
    transform: scale(1.1); /* Slightly increase size */
}

body{
    background: #F9EBEA;
}
/* .casestudy {
    width:70%;
    margin-top: 2%;
    align-content: center;
} */

/* Main Content */
main {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.project {
    padding: 20px;
    border-radius: 8px;
}

.project-title {
    font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: 700;
    color: #706545;
    margin-bottom: 20px;
}

.project-description, .project-features, .project-process, .project-pilot {
    margin-bottom: 40px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 35 px;
    font-weight: 700;
    color: #706545;
    margin-bottom: 15px;
}
h1{
    color: #706545;
    font-size: 36px;
    text-align: center;
    margin-bottom: 3%;

}
ul {
    list-style: none;
    font-size: 24px;
}

ul li {
    margin-bottom: 24px;
    font-family: "Roboto Condensed", sans-serif; /* Apply Roboto Condensed to paragraphs */

}

ul li strong {
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif; /* Apply Roboto Condensed to paragraphs */

}

p{
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif; /* Apply Roboto Condensed to paragraphs */

}
footer p {
    margin: 0;
}

.hook {
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #7E958F;
    background-size: 10%;
    color: black;
    border-radius: 36px;
    padding: 5%;

}
/* Responsive Styles */
